body {
  color: #000;
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  padding-top:5%;
}

h1 {
  font-weight: 400;
  font-size: 5em;
  padding: 5px 15px;
  display: inline-block;
  margin: 0;
  border: 3px solid #000;
}

p {
  font-size: 2em;
  padding: 0;
  margin: 0;
}



@media only screen and (max-device-width : 480px) {
  body {
    background-size: auto 200%;
  }

  h1 {
    line-height: 1.25;
    font-size: 3em;
  }

  p {
    font-size: 1.5em;
  }
}

a {
  color:#000;
  margin:0.25em;
  text-decoration:none;
}
